*{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url('../../public/img/background1.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.my-container{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.glass-container{
    width: 40%;
    height: 65%;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
table{
    min-height: 40vh;
    min-width: 50vh;
}

th {
    background-color: #157347;
    color: white;
    font-weight: bold;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.container {
    padding: 2vh;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin: 20px;
    min-width: 50vh;
}

.container div{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;

}

/*Augusto Splett*/
.footer {
    background: rgba(255, 255, 255, 0.6);
    height: 15%;
    color: #212529;
    font-weight: 700;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  .footer ul{
    list-style: none;
  }