/*Augusto Splett*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-image: url('../../public/img/background1.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.glass-container{
    width: 40%;
    height: 50%;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

.password-change-link {
    text-align: center;
    margin-top: 10px;
}

.my-container{
    width: 100%;
    height: 85%;
    max-height: 85%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer {
    background: rgba(255, 255, 255, 0.6);
    height: 15%;
    max-height: 15%;
    color: #212529;
    font-weight: 700;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  .footer ul{
    list-style: none;
  }