*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    background-image: url('./public/img/landing-page-banner.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    text-align: center;
    padding: 2%;
}
.my-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.glass-container{
    width: 60vw;
    height: 50vh;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons-holder{
    width: 100%;
    display: flex;
    justify-content:center;
}

.button-a{
    margin: 2%;
    width: 40%;
    min-width: 150px;
    max-width: 250px;
}